/* Header Styling */

.header {
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2.625rem;
  gap: 2.75rem;
}
.header__input {
  width: 100%;
}
.header__container {
  width: 100%;
  justify-content: space-between;
  gap: 2.5rem;
}
.header__button {
  padding: 1rem 2rem;
  border-radius: 15px;
  border: none;
  font-weight: 800;
  white-space: nowrap;
}
