/* Header Styling */

.header {
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2.625rem;
  gap: 2.75rem;
}
.header__input {
  width: 100%;
}
.header__search {
  width: 100%;
  justify-content: space-between;
  gap: 2.5rem;
}
.header__container {
  width: 100%;
  justify-content: space-between;
}
.header__weather {
  justify-content: space-between;
  padding-right: 1.875rem;
  height: 4rem;
}
.header__weather--temp {
  margin-left: 1.5rem;
  margin-right: 5rem;
  font-weight: 700;
}
.header__weather--city {
  color: var(--gray-color);
}
.header__button {
  padding: 1rem 2rem;
  border-radius: 15px;
  border: none;
  font-weight: 800;
  white-space: nowrap;
  color: var(--blue-color);
  background-color: var(--transparent-blue-color);
}
