/* Tasks Styling */

.completed-tasks {
  width: 30rem;
  color: var(--gray-color);
}
.completed-tasks__ul {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.875rem;
}
